

<div class="sidenav">
  <a href="{{ url_for('ajouter_chauf') }}">Ajouter Chauffeur</a>
  <a href="{{ url_for('modifier_chauffeur') }}">Editer Chauffeur</a>
  <a href="{{ url_for('ajouter_statut_chauf') }}">Ajouter Statut Chauffeur</a>
  <a href="{{url_for('edit_staut_chauf')}}">Editer Statut Chauffeur</a>
  <a href="{{url_for('ajouter_contrat_chauf')}}">Ajouter Contrat Chauffeur</a>
  <a href="{{url_for('edit_contrat_chauf')}}">Editer Contrat Chauffeur</a>
  <a href="#">Liste Complète Chauffeurs </a>
  
</div>
